{{#each value in controller.currentlyAppliedOffer}}
  <div class="appliedOffer">
    <div class="appliedOfferHead">Currently Applied Offer</div>
    <div class="appliedOfferTitle">{{value.description}}
        <div id="couponPopUp" class="couponPopUp">
          <div class="popupArrow"></div>
          <div class="couponPopUpMsg">{{value.description}}</div>
          <div class="couponPopUpTerms"><strong>Terms:</strong> {{value.terms}}</div>
          <div class="couponPopUpDate">Valid till: {{value.endDate}}</div>
        </div>
        <a class="appliedOfferDetails" onclick="showCouponDetails()">[show details]</a>
        <a class="appliedOfferDetails" style="display: none;" onclick="showCouponDetails()">[hide details]</a>
    </div>
    <form action="/healthkart/core/discount/ApplyCoupon.action" method="post">
        <input name="offer" {{bindAttr value="value.id"}} type="hidden">        
        <input name="removeOffer" value="Remove" class="button_raj" style="float: right;left: 0px;margin-bottom: 0px;bottom: 8px;" type="submit">
        <div style="display: none;">
          <input type="hidden" name="_sourcePage" value="nO5Kai0iUtU9VJRiFjXm-vAFsFkyxchJ">
          <input type="hidden" name="__fp" value="CATsOzMhS2E=">
        </div>
    </form>    
  </div>  
{{/each}}