{{#each value in controller.currentlyAppliedOffer}}
  <div class="appliedOffer">
    <div class="appliedOfferHead">Currently Applied Offer</div>
    <div class="appliedOfferTitle">{{value.description}}
        <div id="couponPopUp" class="couponPopUp">
          <img {{bindAttr src="controller.imageURL"}} class="popupArrow"></img>
          <div class="couponPopUpMsg">{{value.description}}</div>
          <div class="couponPopUpTerms"><strong>Terms:</strong> {{value.terms}}</div>
          <div class="couponPopUpDate">Valid till: {{value.endDate}}</div>
        </div>
        <a class="appliedOfferDetails" onclick="showCouponDetails()">[show details]</a>
        <a class="appliedOfferDetails" style="display: none;" onclick="showCouponDetails()">[hide details]</a>
    </div>  
  </div>  
{{/each}}