{{#if HK.CartOfferController.showOfferFlag}}
{{#view class="applicableOfferContainer" controllerBinding="controller"}}
  <div class="applicableOfferHead">Coupon codes available</div>
  <div class="gotoCheckout"> <div class="gotoCheckoutInner">GO BACK TO CHECKOUT</div></div>
  {{#each value in controller.applicableOffers}}
    <div class="applicableOffer">    
      <div class="applicableOfferDesc">{{value.description}}</div>
      {{#if value.terms}}
        <div class="applicableOfferTerms"><strong>Terms:</strong>{{value.terms}}</div>
      {{/if}}
      {{#if value.endDate}}
        <div class="endDate">Valid till: {{value.endDate}}</div>
      {{/if}}
      {{#if value.removeFlag}}
        <div class="appliedButton">APPLIED</div>
        <div class="removeButton">
          <form {{bindAttr action="controller.applyURL"}} method="post">
            <input name="offer" {{bindAttr value="value.id"}} type="hidden">        
            <input name="removeOffer" value="REMOVE" style="border: 1px solid #ddd !important;" class="button_raj" type="submit">
            <div style="display: none;">
              <input type="hidden" name="_sourcePage" value="nO5Kai0iUtU9VJRiFjXm-vAFsFkyxchJ">
              <input type="hidden" name="__fp" value="CATsOzMhS2E=">
            </div>
          </form>
        </div>
      {{else}}
      <div class="applyFormButton">
        <form {{bindAttr action="controller.applyURL"}} method="post">
          <input name="offer" {{bindAttr value="value.id"}} type="hidden">        
          <input name="applyOffer" value="APPLY" class="button_raj" type="submit">
          <div style="display: none;">
            <input type="hidden" name="_sourcePage" value="nO5Kai0iUtU9VJRiFjXm-vAFsFkyxchJ">
            <input type="hidden" name="__fp" value="CATsOzMhS2E=">
          </div>
        </form>
      </div>
      {{/if}}
    </div>
  {{/each}}
{{/view}}
{{else}}
  <div class="applicableOfferContainer">
    <div class="applicableOfferHead">Coupon codes available</div>
    <div class="gotoCheckout"> <div class="gotoCheckoutInner">GO BACK TO CHECKOUT</div></div>
    <div class="noCoupons"> NO COUPONS FOR YOU!</div>
  </div>
{{/if}}